

/* Card Style */

.card-custom {
  background: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* ↓ softer */
  transition: 0.3s;
  height: 100%;
}

.card-custom:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* ↓ softer hover shadow */
}


.card-custom img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 15px;
}


.header {
  background-color: #004080 !important;
  width: 100%;
  z-index: 1000;
  display: block;
}

.mobile-header {
  background-color: #004080;
}

@media (max-width: 767px) {
  .mobile-header {
    display: block !important;
  }

  .header h5 {
    font-size: 18px;
  }

  .header img {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 767px) {
  .header {
    position: static !important;
    top: auto !important;
    z-index: auto !important;
  }
}

.gradient-icon {
  font-size: 36px;
  background: linear-gradient(45deg, #023e8a, #0077b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
